<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.isyncui</key>
	<dict>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSyncModlet</string>
				<key>ServiceName</key>
				<string>com.apple.syncmanagerModlet</string>
				<key>ServiceProperties</key>
				<dict>
					<key>ReadableDescription</key>
					<string>Synchro Manager</string>
				</dict>
			</dict>
			<dict>
				<key>ServiceName</key>
				<string>com.apple.synchro</string>
				<key>ServiceProperties</key>
				<dict>
					<key>supportsCalendarsSync</key>
					<true/>
				</dict>
			</dict>
		</array>
	</dict>
	<key>com.apple.temp.tcp-device</key>
	<dict>
		<key>InheritsFrom</key>
		<array>
			<string>family.agent.transport</string>
			<string>family.agent.feature.pim-synchronization</string>
			<string>family.com.sony-ericsson.uiq</string>
		</array>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceName</key>
				<string>com.apple.model</string>
				<key>ServiceProperties</key>
				<dict>
					<key>CompanyName</key>
					<string>Apple</string>
					<key>ModelIcon</key>
					<string>InternetDevice.icns</string>
					<key>ModelName</key>
					<string>TCP Device</string>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHFakeBluetoothService</string>
				<key>ServiceName</key>
				<string>com.apple.bluetooth</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<key>com.apple.unsupported-model</key>
	<dict>
		<key>InheritsFrom</key>
		<array>
			<string>family.public.all-phones</string>
			<string>family.public.feature.pim-synchronization</string>
			<string>com.apple.isyncui</string>
		</array>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceName</key>
				<string>com.apple.model</string>
				<key>ServiceProperties</key>
				<dict>
					<key>CompanyName</key>
					<string>---</string>
					<key>ModelName</key>
					<string>---</string>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHNibBasedModletController</string>
				<key>ServiceName</key>
				<string>com.apple.syncmanagerModlet</string>
				<key>ServiceProperties</key>
				<dict>
					<key>ModletNibName</key>
					<string>FallbackSynchroPane.nib</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>family.agent.bus.bt</key>
	<dict>
		<key>InheritsFrom</key>
		<array>
			<string>family.agent.transport</string>
			<string>family.public.bus.bt</string>
		</array>
		<key>Services</key>
		<array/>
	</dict>
	<key>family.agent.feature.pim-synchronization</key>
	<dict>
		<key>InheritsFrom</key>
		<array>
			<string>family.agent.transport</string>
			<string>family.public.feature.pim-synchronization</string>
			<string>family.public.legacy-phones</string>
		</array>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceClass</key>
				<string>AgentTransportService</string>
				<key>ServiceName</key>
				<string>com.apple.synchro</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<key>family.agent.transport</key>
	<dict>
		<key>InheritsFrom</key>
		<array>
			<string>family.public.feature.filepushing</string>
		</array>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceClass</key>
				<string>IPHAgentService</string>
				<key>ServiceName</key>
				<string>com.apple.agent</string>
				<key>ServiceProperties</key>
				<dict>
					<key>AgentPackage</key>
					<string>@to-be-defined@</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>family.com.apple.external.all-phones</key>
	<dict>
		<key>InheritsFrom</key>
		<array>
			<string>family.public.feature.pim-synchronization</string>
			<string>com.apple.isyncui-BT</string>
		</array>
		<key>Services</key>
		<array/>
	</dict>
	<key>family.com.apple.external.all-phones.bt</key>
	<dict>
		<key>InheritsFrom</key>
		<array>
			<string>family.public.feature.pim-synchronization</string>
			<string>com.apple.isyncui-BT</string>
			<string>family.public.bus.bt</string>
		</array>
		<key>Services</key>
		<array/>
	</dict>
	<key>family.com.apple.external.all-phones.usb</key>
	<dict>
		<key>InheritsFrom</key>
		<array>
			<string>family.public.feature.pim-synchronization</string>
			<string>com.apple.isyncui-BT</string>
			<string>family.public.bus.usb</string>
		</array>
		<key>Services</key>
		<array/>
	</dict>
	<key>family.com.apple.external.all-phones.usb-bt</key>
	<dict>
		<key>InheritsFrom</key>
		<array>
			<string>family.public.feature.pim-synchronization</string>
			<string>com.apple.isyncui-BT</string>
			<string>family.public.bus.usb-bt</string>
		</array>
		<key>Services</key>
		<array/>
	</dict>
	<key>family.public.all-phones</key>
	<dict>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceClass</key>
				<string>IPHBusManagerService</string>
				<key>ServiceName</key>
				<string>com.apple.bus.manager</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<key>family.public.bus.bt</key>
	<dict>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceClass</key>
				<string>IPHBluetoothService</string>
				<key>ServiceName</key>
				<string>com.apple.bluetooth</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<key>family.public.bus.usb</key>
	<dict>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSerialATService</string>
				<key>ServiceName</key>
				<string>com.apple.protocol.usb.AT</string>
				<key>ServiceProperties</key>
				<dict>
					<key>TransportService</key>
					<string>com.apple.transport.usb.modem</string>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHUSBCDCChannelService</string>
				<key>ServiceName</key>
				<string>com.apple.transport.usb.modem</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHUSBService</string>
				<key>ServiceName</key>
				<string>com.apple.usb</string>
				<key>ServiceProperties</key>
				<dict>
					<key>IdentificationClass</key>
					<string>IPHUSBATTTYIdentification</string>
					<key>IdentificationNameCommand</key>
					<string>@to-be-defined@</string>
					<key>IdentificationTTYType</key>
					<string>IOCalloutDevice</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>family.public.bus.usb-bt</key>
	<dict>
		<key>InheritsFrom</key>
		<array>
			<string>family.public.bus.usb</string>
			<string>family.public.bus.bt</string>
		</array>
		<key>Services</key>
		<array/>
	</dict>
	<key>family.public.feature.filepushing</key>
	<dict>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceName</key>
				<string>com.apple.pushfile</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<key>family.public.feature.pim-synchronization</key>
	<dict>
		<key>InheritsFrom</key>
		<array>
			<string>family.public.all-phones</string>
		</array>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceName</key>
				<string>com.apple.synchro</string>
				<key>ServiceProperties</key>
				<dict>
					<key>CurrentTimeZone.visible</key>
					<true/>
					<key>DontSyncEventsAfterDateIsEnabled.default-value</key>
					<true/>
					<key>DontSyncEventsAfterDateIsEnabled.visible</key>
					<true/>
					<key>DontSyncEventsAfterDateValue.default-value</key>
					<string>1week</string>
					<key>DontSyncEventsAfterDateValue.visible</key>
					<true/>
					<key>DontSyncEventsPriorToDateIsEnabled.default-value</key>
					<true/>
					<key>DontSyncEventsPriorToDateIsEnabled.visible</key>
					<false/>
					<key>DontSyncEventsPriorToDateValue.default-value</key>
					<string>1week</string>
					<key>DontSyncEventsPriorToDateValue.visible</key>
					<true/>
					<key>IPHEnginePlist</key>
					<string>@to-be-defined@</string>
					<key>OnlySyncContactsWithPhoneNumber.default-value</key>
					<true/>
					<key>OnlySyncContactsWithPhoneNumber.visible</key>
					<true/>
					<key>SyncAllDayEventsKey.default-value</key>
					<true/>
					<key>SyncAllDayEventsKey.visible</key>
					<true/>
					<key>SyncEmail.default-value</key>
					<true/>
					<key>SyncEmail.visible</key>
					<false/>
					<key>SyncFax.default-value</key>
					<true/>
					<key>SyncFax.visible</key>
					<false/>
					<key>SyncPictures.default-value</key>
					<false/>
					<key>SyncPictures.visible</key>
					<false/>
					<key>SyncProperties</key>
					<string>@to-be-defined@</string>
					<key>SyncTimeWindowAfterConfig</key>
					<array>
						<string>1week</string>
						<string>2week</string>
						<string>1month</string>
						<string>2month</string>
						<string>6month</string>
						<string>1year</string>
					</array>
					<key>SyncTimeWindowPriorConfig</key>
					<array>
						<string>today</string>
						<string>1week</string>
						<string>2week</string>
						<string>1month</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSyncDataClassService</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.contacts</string>
				<key>ServiceProperties</key>
				<dict>
					<key>DataClassName</key>
					<string>Contacts</string>
					<key>MimeType</key>
					<string>text/x-vcard</string>
					<key>ParserService</key>
					<string>com.apple.pimsync.parser.vCard</string>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSyncDataClassService</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.calendars</string>
				<key>ServiceProperties</key>
				<dict>
					<key>DataClassName</key>
					<string>CalendarsAndTodos</string>
					<key>MimeType</key>
					<string>text/x-vcalendar</string>
					<key>ParserService</key>
					<string>com.apple.pimsync.parser.vCal</string>
					<key>hasEvent</key>
					<true/>
					<key>hasTask</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSyncDataClassService</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.events</string>
				<key>ServiceProperties</key>
				<dict>
					<key>DataClassName</key>
					<string>Events</string>
					<key>MimeType</key>
					<string>text/x-vcalendar</string>
					<key>ParserService</key>
					<string>com.apple.pimsync.parser.vCal</string>
					<key>hasEvent</key>
					<true/>
					<key>hasTask</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSyncDataClassService</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.tasks</string>
				<key>ServiceProperties</key>
				<dict>
					<key>DataClassName</key>
					<string>Tasks</string>
					<key>MimeType</key>
					<string>text/x-vcalendar</string>
					<key>ParserService</key>
					<string>com.apple.pimsync.parser.vCal</string>
					<key>hasEvent</key>
					<false/>
					<key>hasTask</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSyncParserService</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.parser.vCard</string>
				<key>ServiceProperties</key>
				<dict>
					<key>Charset</key>
					<string>UTF-8</string>
					<key>Encoding</key>
					<string>QUOTED-PRINTABLE</string>
					<key>ParserType</key>
					<string>vCard</string>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSyncParserService</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.parser.vCal</string>
				<key>ServiceProperties</key>
				<dict>
					<key>Charset</key>
					<string>UTF-8</string>
					<key>Encoding</key>
					<string>QUOTED-PRINTABLE</string>
					<key>ParserType</key>
					<string>vCal</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>family.public.feature.syncml</key>
	<dict>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceClass</key>
				<string>IPHObexService</string>
				<key>ServiceName</key>
				<string>com.apple.protocol.obex.syncml</string>
				<key>ServiceProperties</key>
				<dict>
					<key>ObexTargetUUID</key>
					<string>53 59 4e 43 4d 4c 2d 53 59 4e 43</string>
					<key>TransportService</key>
					<string>com.apple.transport.rfcomm.syncml</string>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHRFCOMMChannelService</string>
				<key>ServiceName</key>
				<string>com.apple.transport.rfcomm.syncml</string>
				<key>ServiceProperties</key>
				<dict>
					<key>RFCOMMChannelUUID</key>
					<string>000000020000100080000002ee000002</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>family.public.legacy-phones</key>
	<dict>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceClass</key>
				<string>@not-defined@</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.contacts</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>@not-defined@</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.calendars</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>@not-defined@</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.events</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>@not-defined@</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.tasks</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>@not-defined@</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.parser.vCal</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>@not-defined@</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.parser.vCard</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
