<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>iSync</string>
	<key>Entities</key>
	<dict>
		<key>com.apple.contacts.Group</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>name</string>
		</array>
	</dict>
	<key>PullOnlyEntities</key>
	<array>
		<string>com.apple.contacts.Group</string>
	</array>
	<key>ImagePath</key>
	<string>iSyncApplicationIcon.icns</string>
	<key>SyncsWith</key>
	<dict>
		<key>SyncAlertTypes</key>
		<array>
			<string>app</string>
			<string>device</string>
			<string>server</string>
		</array>
	</dict>
	<key>Type</key>
	<string>app</string>
</dict>
</plist>
