<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Nokia 9300i v2.3, © Apple Computer</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.phoneplugin.com.nokia.9300i</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nokia 9300i</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>74</string>
	<key>IPHPhoneConduitVersion</key>
	<string>502.93</string>
	<key>IPHPhonePluginUID</key>
	<string>4C513F70-59FD-46E7-A3CA-459372CD2CDA</string>
	<key>IPHPluginProviderName</key>
	<string>Apple Computer</string>
	<key>IPHPluginSupportURL</key>
	<string>http://www.apple.com/support/isync/</string>
	<key>IPHPublicPluginVersion</key>
	<string>1.0</string>
</dict>
</plist>
