<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EntityFormatters</key>
	<dict>
		<key>com.apple.calendars.AudioAlarm</key>
		<dict>
			<key>PreFiltering</key>
			<array>
				<string>dropAlarmIfTaskCompleted:alarm:</string>
				<string>genericAlarmFilterWithNoAlarmOnEventOrAfter:alarm:</string>
				<string>dropAlarmInThePast:alarm:</string>
			</array>
		</dict>
		<key>com.apple.calendars.DisplayAlarm</key>
		<dict>
			<key>PreFiltering</key>
			<array>
				<string>dropAlarmIfTaskCompleted:alarm:</string>
				<string>genericAlarmFilterWithNoAlarmOnEventOrAfter:alarm:</string>
				<string>dropAlarmInThePast:alarm:</string>
			</array>
		</dict>
		<key>com.apple.calendars.Event</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>description</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>1000</string>
					</array>
				</array>
				<key>location</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>160</string>
					</array>
				</array>
				<key>summary</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>160</string>
					</array>
				</array>
			</dict>
		</dict>
		<key>com.apple.calendars.Task</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>completion date</key>
				<string>roundCompletionDate:</string>
				<key>due date</key>
				<array>
					<string>setDefaultDueDateIfNotSet:</string>
					<string>middayGMT:</string>
				</array>
				<key>priority</key>
				<array>
					<array>
						<string>mapPriorityLikeICal:withPriorityMax:noPriorityValue:</string>
						<string>3</string>
						<string>2</string>
					</array>
				</array>
				<key>summary</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>160</string>
					</array>
				</array>
				<key>description</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>1000</string>
					</array>
				</array>
			</dict>
		</dict>
		<key>com.apple.contacts.Contact</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>company name</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>50</string>
					</array>
				</array>
				<key>job title</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>50</string>
					</array>
				</array>
				<key>first name</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>50</string>
					</array>
				</array>
				<key>last name</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>50</string>
					</array>
				</array>
				<key>middle name</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>50</string>
					</array>
				</array>
				<key>suffix</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>50</string>
					</array>
				</array>
				<key>title</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>50</string>
					</array>
				</array>
				<key>notes</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>300</string>
					</array>
				</array>
				<key>image</key>
				<array>
					<array>
						<string>reduceImage:maxWidth:maxheight:maxLength:</string>
						<string>40</string>
						<string>44</string>
                        <string>10000</string>
					</array>
				</array>
			</dict>
			<key>FormatterClass</key>
			<string>IPHAgentFormatting</string>
		</dict>
		<key>com.apple.contacts.Email Address</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>value</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>150</string>
					</array>
				</array>
			</dict>
		</dict>
		<key>com.apple.contacts.Group</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>name</key>
				<array>
					<array>
						<string>maxLength::</string>
						<integer>30</integer>
					</array>
					<string>ensureNotEmpty:</string>
				</array>
			</dict>
		</dict>
		<key>com.apple.contacts.Phone Number</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>value</key>
				<array>
					<string>convertPhoneNameToPhoneNumber:</string>
					<array>
						<string>maxLength::</string>
						<string>45</string>
					</array>
				</array>
			</dict>
			<key>FormatterClass</key>
			<string>IPHAgentFormatting</string>
			<key>RecordFormatting</key>
			<array>
				<string>series60PhoneNumbers:</string>
			</array>
		</dict>
		<key>com.apple.contacts.URL</key>
		<dict>
			<key>FormatterClass</key>
			<string>IPHAgentFormatting</string>
			<key>RecordFormatting</key>
			<array>
                <array>
                    <string>changeRegularOtherTypeButKeepCustomType:toNewType:</string>
                    <string>home page</string>
                </array>
			</array>
		</dict>
		<key>com.apple.contacts.Street Address</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>city</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>$PCMaxStreetAddressLength</string>
					</array>
				</array>
				<key>country</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>$PCMaxStreetAddressLength</string>
					</array>
				</array>
				<key>postal code</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>20</string>
					</array>
				</array>
				<key>state</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>$PCMaxStreetAddressLength</string>
					</array>
				</array>
				<key>street</key>
				<array>
					<array>
						<string>maxLength::</string>
						<string>$PCMaxStreetAddressLength</string>
					</array>
				</array>
			</dict>
			<key>TypeKey</key>
			<string>type</string>
			<key>MaxNumberPerType</key>
			<dict>
				<key>home</key>
				<string>1</string>
				<key>other</key>
				<integer>1</integer>
				<key>work</key>
				<string>1</string>
			</dict>
		</dict>
	</dict>
	<key>SyncDataClasses</key>
	<dict>
		<key>Calendar</key>
		<dict>
			<key>DataClassManager</key>
			<dict>
				<key>Name</key>
				<string>CalendarManager</string>
				<key>handleAllDayRecurrent</key>
				<false/>
				<key>hasSymbianRecurrence</key>
				<true/>
				<key>statusDeducedFromCompletionDate</key>
				<true/>
				<key>needsToFormatCountToUntilDate</key>
				<true/>
                <key>alarmTypeIsDisplay</key>
                <false/>
			</dict>
			<key>Parser</key>
			<string>AgentParserEvent</string>
		</dict>
		<key>Contacts</key>
		<dict>
			<key>DataClassManager</key>
			<dict>
				<key>Name</key>
				<string>ContactManager</string>
			</dict>
			<key>Parser</key>
			<string>AgentParserContact</string>
		</dict>
	</dict>
</dict>
</plist>
