<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EntityFormatters</key>
	<dict>
		<key>com.apple.calendars.AudioAlarm</key>
		<dict>
			<key>PreFiltering</key>
			<string>genericAlarmFilter:alarm:</string>
		</dict>
		<key>com.apple.calendars.DisplayAlarm</key>
		<dict>
			<key>PreFiltering</key>
			<string>genericAlarmFilter:alarm:</string>
		</dict>
		<key>com.apple.calendars.Event</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>description</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>128</string>
					</array>
				</array>
				<key>summary</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>100</string>
					</array>
				</array>
				<key>location</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>50</string>
					</array>
				</array>
			</dict>
		</dict>
		<key>com.apple.calendars.Task</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>description</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>128</string>
					</array>
				</array>
				<key>summary</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>100</string>
					</array>
				</array>
				<key>priority</key>
				<array>
					<array>
						<string>mapPriorityLikeICal:withPriorityMax:noPriorityValue:</string>
						<integer>3</integer>
						<integer>0</integer>
					</array>
				</array>
				<key>status</key>
				<array>
					<string>setStatusDefaultIfNotSet:</string>
					<array>
						<string>mapString::</string>
						<dict>
							<key>none</key>
							<string>needsaction</string>
						</dict>
					</array>
				</array>
			</dict>
		</dict>
		<key>com.apple.contacts.Contact</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>company name</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>30</string>
					</array>
				</array>
				<key>first name</key>
				<string>replaceWhiteSpaceByHyphen:</string>
				<key>job title</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>15</string>
					</array>
				</array>
				<key>notes</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>50</string>
					</array>
				</array>
			</dict>
			<key>RecordFormatting</key>
			<array>
				<array>
					<string>maxFirstNameAndLastName:length:firstNameFirst:</string>
					<string>$MaxFirstNameAndLastName</string>
					<true/>
				</array>
				<array>
					<string>formatContactSonyEricsson:clearCompanyName:removeSemiColon:</string>
					<false/>
                    <false/>
				</array>
			</array>
		</dict>
		<key>com.apple.contacts.Email Address</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>type</key>
				<array>
					<array>
						<string>mapString::</string>
						<dict>
							<key>home</key>
							<string>work</string>
							<key>other</key>
							<string>work</string>
						</dict>
					</array>
				</array>
				<key>value</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>49</string>
					</array>
				</array>
			</dict>
			<key>MaxNumber</key>
			<string>$NbrEmailPerContact</string>
		</dict>
		<key>com.apple.contacts.Phone Number</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>type</key>
				<array>
					<array>
						<string>mapString::</string>
						<dict>
							<key>home fax</key>
							<string>work fax</string>
							<key>main</key>
							<string>work</string>
							<key>pager</key>
							<string>other</string>
						</dict>
					</array>
				</array>
				<key>value</key>
				<array>
					<string>convertPhoneNameToPhoneNumber:</string>
					<string>removeAllNonDigitButFirstPlus:</string>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>75</string>
					</array>
				</array>
			</dict>
			<key>MaxNumberPerType</key>
			<dict>
				<key>home</key>
				<string>1</string>
				<key>mobile</key>
				<string>1</string>
				<key>other</key>
				<integer>1</integer>
				<key>work</key>
				<string>1</string>
				<key>work fax</key>
				<string>1</string>
			</dict>
			<key>TypeKey</key>
			<string>type</string>
		</dict>
		<key>com.apple.contacts.Street Address</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>city</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>25</string>
					</array>
				</array>
				<key>country</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>25</string>
					</array>
				</array>
				<key>postal code</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>25</string>
					</array>
				</array>
				<key>state</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>25</string>
					</array>
				</array>
				<key>street</key>
				<array>
					<array>
						<string>maxLengthForVObjectPropValue::</string>
						<string>25</string>
					</array>
				</array>
				<key>type</key>
				<array>
					<array>
						<string>setFieldToValue::</string>
						<string>home</string>
					</array>
				</array>
			</dict>
			<key>RecordFormatting</key>
				<array>
					<array>
						<string>replaceFromStringValuesOfRecord:string:withString:</string>
                        <string>,</string>
                        <string> </string>
					</array>
				</array>
			<key>MaxNumber</key>
			<string>1</string>
		</dict>
		<key>com.apple.contacts.URL</key>
		<dict>
			<key>FieldFormatting</key>
			<dict>
				<key>type</key>
				<array>
					<array>
						<string>setFieldToValue::</string>
                        <string>home page</string>
					</array>
				</array>
				<key>value</key>
				<array>
					<array>
						<string>maxURLLength::</string>
						<string>120</string>
					</array>
				</array>
			</dict>
			<key>MaxNumber</key>
			<string>1</string>
		</dict>
	</dict>
	<key>SyncDataClasses</key>
	<dict>
		<key>CalendarsAndTodos</key>
		<dict>
			<key>DataClassManager</key>
			<dict>
				<key>Name</key>
				<string>CalendarManager</string>
				<key>hasAllDayEvents</key>
				<false/>
				<key>hasTimeZone</key>
				<true/>
			</dict>
			<key>Parser</key>
			<dict>
				<key>Charset</key>
				<string>UTF-8</string>
				<key>Encoding</key>
				<string>QUOTED-PRINTABLE</string>
				<key>Name</key>
				<string>VCalParser</string>
				<key>PriorityMax</key>
				<string>3</string>
                <key>IgnoreProperties</key>
                <array>
                    <string>X-IRMC-LUID</string>
                </array>
			</dict>
		</dict>
		<key>Contacts</key>
		<dict>
			<key>DataClassManager</key>
			<string>ContactManager</string>
			<key>MasterEntities</key>
			<string>com.apple.contacts.Contact</string>
			<key>Parser</key>
			<dict>
				<key>ADRtype</key>
				<string>HOME</string>
				<key>Charset</key>
				<string>UTF-8</string>
				<key>Encoding</key>
				<string>QUOTED-PRINTABLE</string>
				<key>Name</key>
				<string>VCardParser</string>
				<key>clearADRWithSpace</key>
				<true/>
                <key>IgnoreProperties</key>
                <array>
                    <string>X-IRMC-LUID</string>
                </array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
