<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>family.com.nokia.9300i</key>
    <dict>
        <key>InheritsFrom</key>
        <array>
            <string>family.com.apple.external.all-phones.usb-bt</string>
        </array>
        <key>Services</key>
        <array>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.synchro</string>
                <key>ServiceClass</key>
                <string>IPHSyncMLSyncTransportServiceObexClient</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>IPHEnginePlist</key>
                    <string>SyncEngine.plist</string>
                    <key>SyncProperties2</key>
                    <string>PhoneConduit.plist</string>
                    <key>SyncMLVersion</key>
                    <string>SyncML11</string>
                    <key>SyncMLLargeObjectSupport</key>
                    <true/>
                    <key>SyncMLNumberOfChangesSupport</key>
                    <true/>
                    <key>SyncMLRefreshFromServerSupport</key>
                    <true/>
                    <key>SyncMLRemoteNeedsRelativePaths</key>
                    <false/>
                    <key>SyncMLBusySignalingSupport</key>
                    <true/>
                    <key>SyncMLOnlyOneBusySignaling</key>
                    <true/>
                    <key>SyncMLBusySignalingInterval</key>
                    <integer>240</integer>
                    <key>SyncMLSimulateBusySignalingWithEmptySync</key>
                    <true/>
                    <key>SyncMLMaxSyncCmdNbInEncodedMsg</key>
                    <integer>30</integer>
                    <key>SyncDataClasses</key>
                    <plist>
                        <array>
                            <string>com.apple.pimsync.contacts</string>
                            <string>com.apple.pimsync.calendars</string>
                        </array>
                    </plist>
                    <key>DontSyncEventsAfterDateValue.visible</key>
                    <true/>
                    <key>DontSyncEventsAfterDateValue.default-value</key>
                    <string>1month</string>
                    <key>DontSyncEventsPriorToDateIsEnabled.visible</key>
                    <true/>
                    <key>DontSyncEventsPriorToDateIsEnabled.default-value</key>
                    <false/>
                    <key>OnlySyncContactsWithPhoneNumber.visible</key>
                    <false/>
                    <key>OnlySyncContactsWithPhoneNumber.default-value</key>
                    <false/>
                    <key>SyncAllDayEventsKey.visible</key>
                    <true/>
                    <key>SyncAllDayEventsKey.default-value</key>
                    <true/>
                    <key>DontSyncEventsPriorToDateValue.visible</key>
                    <true/>
                    <key>DontSyncEventsPriorToDateValue.default-value</key>
                    <string>1week</string>
                    <key>DontSyncEventsAfterDateIsEnabled.visible</key>
                    <true/>
                    <key>DontSyncEventsAfterDateIsEnabled.default-value</key>
                    <false/>
                    <key>SyncMLCodec</key>
                    <string>SyncMLCodecLibWBXML</string>
                    <key>SyncMLLocalSource</key>
                    <string>PC Suite</string>
                    <key>SyncMLMsgTemporization</key>
                    <integer>1500000</integer>
                    <key>SyncMLMaxObjSize</key>
                    <integer>786432</integer>
                    <key>SyncMLMaxMsgSize</key>
                    <integer>10000</integer>
                    <key>BTProtocolService</key>
                    <string>com.nokia.9300i.protocol.bt.obex.syncml</string>
                    <key>USBProtocolService</key>
                    <string>com.nokia.9300i.protocol.usb.obex.syncml</string>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.nokia.9300i.protocol.usb.obex.syncml</string>
                <key>ServiceClass</key>
                <string>IPHObexService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>ObexTargetUUID</key>
                    <string>53 59 4e 43 4d 4c 2d 53 59 4e 43</string>
                    <key>ObexTimeOut</key>
                    <integer>60</integer>
                    <key>TransportService</key>
                    <string>com.nokia.9300i.transport.usb.syncml</string>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.nokia.9300i.protocol.bt.obex.syncml</string>
                <key>ServiceClass</key>
                <string>IPHObexService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>ObexTargetUUID</key>
                    <string>53 59 4e 43 4d 4c 2d 53 59 4e 43</string>
                    <key>ObexTimeOut</key>
                    <integer>180</integer>
                    <key>TransportService</key>
                    <string>com.nokia.9300i.transport.rfcomm.syncml</string>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.protocol.usb.AT</string>
                <key>ServiceClass</key>
                <string>IPHSerialATService</string>
                <key>ServiceProperties</key>
                <dict/>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.nokia.9300i.transport.rfcomm.syncml</string>
                <key>ServiceClass</key>
                <string>IPHRFCOMMChannelService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>RFCOMMChannelUUID</key>
                    <string>000000020000100080000002ee000002</string>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.transport.usb.modem</string>
                <key>ServiceClass</key>
                <string>IPHUSBCDCChannelService</string>
                <key>ServiceProperties</key>
                <dict/>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.nokia.9300i.transport.usb.syncml</string>
                <key>ServiceClass</key>
                <string>IPHUSBObexChannelService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>ObexChannelIndex</key>
                    <integer>1</integer>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.pimsync.parser.vCal</string>
                <key>ServiceClass</key>
                <string>IPHSyncParserService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>ParserType</key>
                    <string>vCal</string>
                    <key>Encoding</key>
                    <string>QUOTED-PRINTABLE</string>
                    <key>FoldingStyle</key>
                    <string>FoldingNG</string>
                    <key>Charset</key>
                    <string>UTF-8</string>
                    <key>AllDayEventFormat</key>
                    <string>AllDayEventOMA</string>
                    <key>vCalRecYearlyByMonthOnlyOnStartDateMonthNumber</key>
                    <true/>
                    <key>vCalRecDropIfUseless</key>
                    <true/>
                    <key>vCalRecYearlyByMonthOnlyOneMonthNumber</key>
                    <true/>
                    <key>AllDayCategories</key>
                    <array>
                        <string>REMINDER</string>
                    </array>
                    <key>EscapeSemicolonInNotComponedValues</key>
                    <true/>
                    <key>TimedCategories</key>
                    <array>
                        <string>MEETING</string>
                    </array>
                    <key>IgnoreProperties</key>
                    <array>
                        <string>X-IRMC-LUID</string>
                    </array>
                    <key>EscapeBackslash</key>
                    <true/>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.pimsync.parser.vCard</string>
                <key>ServiceClass</key>
                <string>IPHSyncParserService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>ParserType</key>
                    <string>vCard</string>
                    <key>Encoding</key>
                    <string>QUOTED-PRINTABLE</string>
                    <key>FoldingStyle</key>
                    <string>FoldingNG</string>
                    <key>Charset</key>
                    <string>UTF-8</string>
                    <key>AddCRLFAfterBase64Folding</key>
                    <true/>
                    <key>IgnoreSubTypesForThisMainTypes</key>
                    <array>
                        <string>CELL</string>
                    </array>
                    <key>EscapeSemicolonInNotComponedValues</key>
                    <true/>
                    <key>IgnoreProperties</key>
                    <array>
                        <string>X-IRMC-LUID</string>
                    </array>
                    <key>EscapeBackslash</key>
                    <true/>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.pimsync.contacts</string>
                <key>ServiceClass</key>
                <string>IPHSyncDataClassService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>MimeType</key>
                    <string>text/x-vcard</string>
                    <key>ParserService</key>
                    <string>com.apple.pimsync.parser.vCard</string>
                    <key>RemoteName</key>
                    <string></string>
                    <key>needsCompanyNameInFirstName</key>
                    <false/>
                    <key>needsFullAddressInStreetField</key>
                    <false/>
                    <key>DataClassName</key>
                    <string>Contacts</string>
                    <key>needsDeleteAddOnModify</key>
                    <true/>
                    <key>MaxAddAndReplaceCmd</key>
                    <integer>1</integer>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.pimsync.calendars</string>
                <key>ServiceClass</key>
                <string>IPHSyncDataClassService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>MimeType</key>
                    <string>text/x-vcalendar</string>
                    <key>ParserService</key>
                    <string>com.apple.pimsync.parser.vCal</string>
                    <key>hasEvent</key>
                    <true/>
                    <key>hasTask</key>
                    <true/>
                    <key>RemoteName</key>
                    <string></string>
                    <key>hasAllDayEvents</key>
                    <false/>
                    <key>hasVCalRecurrence</key>
                    <true/>
                    <key>handleAllDayRecurrent</key>
                    <false/>
                    <key>needsToFormatCountToUntilDate</key>
                    <true/>
                    <key>needsToFormatUntilDateToCount</key>
                    <false/>
                    <key>hasOneAlarmType</key>
                    <true/>
                    <key>alarmTypeIsDisplay</key>
                    <false/>
                    <key>hasTimeZone</key>
                    <true/>
                    <key>DataClassName</key>
                    <string>Calendar</string>
                    <key>exDatesAreDateOnly</key>
                    <false/>
                    <key>untilDateIsDateOnly</key>
                    <true/>
                    <key>MaxAddAndReplaceCmd</key>
                    <integer>30</integer>
                    <key>doNotSyncAlarmIfAfterStartDateTime</key>
                    <true/>
                    <key>dueDateIsDateOnly</key>
                    <true/>
                    <key>completionDateIsDateOnly</key>
                    <true/>
                    <key>doNotSyncAlarmIfCompleted</key>
                    <true/>
                </dict>
            </dict>
        </array>
    </dict>
    <key>com.nokia.9300i</key>
    <dict>
        <key>Identification</key>
        <dict>
            <key>com.apple.usb.vendorid-modelid</key>
            <string>0x0421/0x0453</string>
            <key>com.apple.cgmi+cgmm</key>
            <string>Nokia+Nokia 9300i</string>
        </dict>
        <key>InheritsFrom</key>
        <array>
            <string>family.com.nokia.9300i</string>
        </array>
        <key>Services</key>
        <array>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.model</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>ModelName</key>
                    <string>9300i</string>
                    <key>CompanyName</key>
                    <string>Nokia</string>
                    <key>ModelIcon</key>
                    <string>com.nokia.9300i.tiff</string>
                </dict>
            </dict>
        </array>
    </dict>
</dict>