<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConflictResolverClass</key>
	<string>IPHLocalCopySyncConflictResolver</string>
	<key>Entities</key>
	<array>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>com.apple.PhoneConduitExtension.uid</string>
					<key>Type</key>
					<string>string</string>
				</dict>
			</array>
			<key>DisplayName</key>
			<string>Group</string>
			<key>ExtensionName</key>
			<string>com.apple.PhoneConduitExtension.contacts.Group</string>
			<key>Name</key>
			<string>com.apple.contacts.Group</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>com.apple.PhoneConduitExtension.uid</string>
					<key>Type</key>
					<string>string</string>
				</dict>
			</array>
			<key>DisplayName</key>
			<string>Calendar</string>
			<key>ExtensionName</key>
			<string>com.apple.PhoneConduitExtension.calendars.Calendar</string>
			<key>Name</key>
			<string>com.apple.calendars.Calendar</string>
		</dict>
	</array>
	<key>Name</key>
	<string>com.apple.PhoneConduit Extensions</string>
</dict>
</plist>
