<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>iSync</string>
	<key>Entities</key>
	<dict>
		<key>com.apple.calendars.Calendar</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>title</string>
			<string>url</string>
			<string>notes</string>
			<string>read only</string>
			<string>com.apple.PhoneConduitExtension.uid</string>
			<string>com.apple.ical.node</string>
		</array>
		<key>com.apple.calendars.CalendarOrder</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>identity</string>
			<string>calendars</string>
		</array>
		<key>com.apple.contacts.Group</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>name</string>
			<string>qualifier</string>
			<string>com.apple.PhoneConduitExtension.uid</string>
			<string>parent groups</string>
		</array>
		<key>com.apple.ical.calendars.Node</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>type</string>
			<string>title</string>
			<string>theme</string>
			<string>calendar</string>
			<string>parent node</string>
		</array>
		<key>com.apple.ical.calendars.RootNode</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>identity</string>
		</array>
	</dict>
	<key>Type</key>
	<string>app</string>
</dict>
</plist>
